*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/bg-palm.jpg);
    background-attachment: fixed;
    background-position: 30% center;
    background-repeat: no-repeat;
    /* position: relative; */
    padding-bottom: 3em;
    min-height: 100vh;
}

.img{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
}

.name{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.input{
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.input ul li {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

input {
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
}



i.icon {
    color: rgb(39, 148, 236);
    font-size: 20px;
    position: absolute;
    padding: 10px;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .socialIcons {
    position: relative;
    display: flex; 
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .socialIcons li {
    list-style: none;
}

footer .socialIcons li i{
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 30px;
    transition: 0.5s;

}



.socialIcons i:hover {
    color: rgb(0, 0, 255);
    transform: translateY(-10px);
}

